* {
  padding: 0;
  margin: 0;
}
.AvailableLangDiv {
  margin-top: 300px;
}
.AvailableText {
  text-align: center;
  color: #3637fe;
  margin-bottom: 40px;
}
.textoIdioma {
  color: black;
}
.banderas {
  display: flex;
  justify-content: space-evenly;
}
.grupoIdioma {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 780px) {
  .AvailableLangDiv {
    display: none;
  }
}
