* {
  padding: 0;
  margin: 0;
}
.title {
  margin-top: 100px;
  color: #3637fe;
  width: 600px;
  animation: flotar 5s linear infinite;
}
.homeDiv {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
@media (max-width: 767px) {
  .homeDiv {
    display: block;
  }
  .title {
    width: 90vw;
    font-size: 25px;
    margin: 10px;
    text-align: center;
  }
  .homeImg {
    width: 90vw;
    margin: 0 auto;
  }
}
