*{
    padding: 0;
    margin: 0;
}
.divSobre{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;
    margin-top: 200px;

}
.SobreTitle{
    color: #3637FE;
    text-align: center;
}
.SobreText{
    color: rgb(36, 35, 35);
    margin-top: 20px;
    text-align: center;
    margin-bottom: 200px;
    width: 40%;
}
@media (max-width: 767px){
    .divSobre{
        display: block;
    }
    .SobreText{
        width: 80%;
    }
}