*{
    padding: 0;
    margin: 0;
}
.formInicioSesion{
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
}
.inicioSesionImg{
    display: flex;
    margin: 0 auto;
}
.iniciaSesionTitle{
    color: #3637FE;
    font-family: "Noto Sans TC", sans-serif;
}
.form-floating label{
    margin-left: 10px;
}