* {
  padding: 0;
  margin: 0;
}
.MeetDiv {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 300px;
  width: 80%;
}
.MeetTitle {
  margin-top: 100px;
  color: #3637fe;
  text-align: center;
}
.MeetSub {
  text-align: center;
  font-size: 15px;
  margin-top: 40px;
  width: 40vw;
  margin: 5% 5%;
}
.MeetTextDiv {
  display: block;
  width: 60%;
}
@media (max-width: 767px) {
  .MeetDiv {
    display: block;
    width: 90%;
  }
  .MeetTitle {
    width: 90vw;
    font-size: 25px;
    text-align: center;
    margin: 10px;
  }
  .MeetImg {
    width: 40%;
    margin: 30px 30% 0 30%;
  }
  .MeetSub {
    font-size: 12px;
    width: 90vw;
    text-align: center;
  }
}
