@import url('https://fonts.googleapis.com/css2?family=Asap&family=Kanit&family=Noto+Sans+TC:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
.navbar-collapse{
    margin-left: 40px;
}
.container-fluid .navbar-brand{
    font-size: 22px;
    font-weight: bold;
    color: #3637FE;
    font-family: "Noto Sans TC", sans-serif;
}
.container-fluid .navbar-brand:hover{
    color: #3637FE;
    font-family: "Noto Sans TC", sans-serif;
}
.navbar-nav .nav-link:hover{
    color: #3637FE;
    text-decoration: underline;
}
.navbar-nav .nav-link:focus{
    color: #3637FE;
}
.container-fluid a{
    color: #3637FE;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.d-flex .btn-outline-success{
    background-color: #3637FE;
    border: 1px #3637FE solid;
    color: white;
    border-radius: 8px;
    padding: 10px;
    margin-left: 10px;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.d-flex .btn-outline-success:hover{
    background-color: #2929b0;
}
.d-flex .btn-outline-success2{
    background-color: white;
    border: 1px #3637FE solid;
    color: #3637FE;
    border-radius: 8px;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 15px;
}
.d-flex .btn-outline-success2:hover{
    background-color: #e9e9e9;
}
.logo{
    margin: 10px;
}