@import url("https://fonts.googleapis.com/css2?family=Asap&family=Kanit&family=Noto+Sans+TC:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
}
.divPreguntas {
  display: grid;
  grid-template-columns: 80%;
  gap: 20px;
  width: 80%;
  margin: 300px 10% 300px 10%;
  justify-content: center;
}

summary {
  color: #3637fe;
  font-size: 1.2em;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.texto {
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
}

@media (max-width: 800px) {
  details {
    margin-top: 150px;
  }
  .divPreguntas {
    grid-template-rows: 400px;
  }
}
