@import url("https://fonts.googleapis.com/css2?family=Asap&family=Kanit&family=Noto+Sans+TC:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
}
.divPreguntas {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 200px 200px;
  gap: 20px;
  width: 100%;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 200px;
}
summary {
  color: #3637fe;
  width: 100%;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (max-width: 800px) {
  details {
    margin-top: 150px;
  }
  .divPreguntas {
    grid-template-rows: 400px;
  }
}
